.cardBody {
  padding: 1rem 0;
}
.cardBody input[type="search"]  {
  width: 100%;
}
.table thead th:last-child{
  display: none;
}

.table {
  margin: 1rem;
}

@media (min-width: 40em) {
  .cardBody {
    padding: 1rem 1rem;
  }
}
